/*Redefinindo padrão dos elementos da página*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Helvetica; 
    color: #D69D09;
    background-color: whitesmoke;
}

/* CSS em si */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(238, 28, 37);
    box-shadow: #181818 0px 0px 1opx;
}

nav a{
    margin-left: 120px;
    font-size: 1.2em;
    color: #f6f126;
    text-decoration: none;
    font-weight: bolder;
    opacity: .8;
    transition: .3s;
}

nav a:hover {
    opacity: 1;
}

#logo img {
    width: 300px;
}

.marcas, .listaCarros {
    margin-top: 50px;
    width: 90%;
    margin-left: 14%;
}

.titulo {
    color: #D69D09;
    font-size: 1.8em;
}

.grid {
    margin-top: 70px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 16px;
}

.card img {
    margin-top: 10px;
    height: 70px;
    margin-bottom: 15px;
}

.card {
    position: relative;
    display: flex;
    min-height: 100px;
    flex-direction: column;
    align-items: center;
    justify-items: center ;
    background-color:rgba(238, 28, 37);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    box-shadow: #ee1c25 0px 0px 3px;
}

.card:hover {
    box-shadow: #181818 1px 3px 10px;
}

.card h2 {
    color: #f6f126;
    font-size: 1em;
    font-weight: bolder
}

.card p{
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30px    ;
}


#promo {
    position: relative;
    background-image: url("images/carros/background.jpg");
    background-repeat: no-repeat;
    height: 450px;
    color: #f6f126;
    padding-top: 35px;
    box-shadow: #181818 0px 0px 10px;
}

#promo img {
    width: 500px;
}

#promo h1 {
    position: absolute;
    right: 200px;
    top: 80px;
}

#promo a {
    position: absolute;
    top: 225px;
    right: 50px;
    color: #f6f126;
    text-decoration: none;
    font-size: 4rem;
    font-weight: bolder;
    opacity: .8;
    transition: .4s;
}

#promo a:hover {
    opacity: 1;
}

.material-icons {
    font-family: material-icons;
}

.formaPagamento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
}


.pagamento {
    text-align: center;
    display: flex;
    min-height: 428px;
    flex-direction: column;
    align-items: center;
    justify-items: center ;
    background-color:rgba(238, 28, 37);
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    box-shadow: #ee1c25 0px 0px 3px;
}

.pagamento img {
    height: 80px;
}

.pagamento .pagamentoImg {
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
}

#formaPagamentoTitulo {
    margin-top: 35px;
    text-align: center;
}

.endereco {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.endereco h1 {
    margin-bottom: 100px;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #ee1c25;
    color: #f6f126;
    box-shadow: #181818 0px 0px 12px;
}


.social {
    position: absolute;
    right: 20px;
}

.social a {
    margin-left: 30px;
}

.social img{
    width: 50px;
    border-radius: 50%;
    opacity: .8;
    transition: .4s;
}

.social img:hover {
    opacity: 1;
}

.telefone {
    display: flex;
    align-items: center;
    position: absolute;
    right: 340px;
}

.telefone img {
    width: 39px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f6f126;
}

.telefone h4 {
    margin-left: 5px;
}

hr {
    border: 1px solid #ee1c25;
    width: 70%;
    margin-left: 15%;
}

footer h3 {
    margin-left: 120px;
}
