/*Redefinindo padrão dos elementos da página*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Helvetica; 
    color: #f6f126;
    background-color: whitesmoke;
    position: relative;
    height: 100%;
}

/* CSS em si */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(238, 28, 37);
    box-shadow: #181818 0px 0px 1opx;
}

nav{
    display: flex;
}

nav a{
    margin-left: 120px;
    font-size: 1.2em;
    color: #f6f126;
    text-decoration: none;
    font-weight: bolder;
    opacity: .8;
    transition: .3s;
}

nav a:hover {
    opacity: 1;
}

#logo img {
    width: 300px;
}

.marcas, .listaCarros {
    margin-top: 50px;
    width: 80%;
    margin-left: 14%;
}

.titulo {
    color: #D69D09;
    font-size: 1.8em;
}

.grid {
    margin-top: 70px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 16px;
}

.card img {
    margin-top: 10px;
    height: 70px;
    margin-bottom: 15px;
}

.card {
    position: relative;
    display: flex;
    min-height: 100px;
    flex-direction: column;
    align-items: center;
    justify-items: center ;
    background-color:rgba(238, 28, 37);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    box-shadow: #ee1c25 0px 0px 3px;
}

.card:hover {
    box-shadow: #181818 1px 3px 10px;
}

.card h2 {
    color: #f6f126;
    font-size: 1em;
    font-weight: bolder
}

.card p{
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30px    ;
}


#promo {
    position: relative;
    background-image: url("images/carros/background.jpg");
    background-repeat: no-repeat;
    height: 450px;
    color: #f6f126;
    padding-top: 35px;
    box-shadow: #181818 0px 0px 10px;
}

#promo img {
    width: 500px;
}

#promo h1 {
    position: absolute;
    font-size: 3vw;
    right: 200px;
    top: 80px;
}

#promo a {
    position: absolute;
    top: 225px;
    right: 50px;
    color: #f6f126;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bolder;
    opacity: .8;
    transition: .4s;
}

#promo a:hover {
    opacity: 1;
}

.formaPagamento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
}

main {
    min-height: 489px;
}

.pagamento {
    text-align: center;
    display: flex;
    min-height: 516px;
    min-width: 325px;
    flex-direction: column;
    align-items: center;
    justify-items: center ;
    background-color:rgba(238, 28, 37);
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    box-shadow: #ee1c25 0px 0px 3px;
}

.pagamento img {
    height: 80px;
}

#bandeiraEloImg {
    height: 60px;
}

.pagamento .pagamentoImg {
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
}

#formaPagamentoTitulo {
    margin-top: 35px;
    text-align: center;
}

.pagamentoOpcoes {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 16px;
    justify-items: center;
}

.pagamento h2 {
    margin-top: 20px;
}

.endereco {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.endereco h1 {
    margin-bottom: 100px;
}

footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #ee1c25;
    box-shadow: #181818 0px 0px 12px;
    justify-content: space-evenly;
}

footer img{
    width: 50px;
    border-radius: 50%;
    opacity: .8;
    transition: .4s;
}

footer img:hover {
    opacity: 1;
}

.telefone img{
    width: 39px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f6f126;
}

hr {
    border: 1px solid #ee1c25;
    width: 70%;
    margin-left: 15%;
}

.historia {
    text-align: center;
    margin: 50px 0px 36px 0px;
}

.historiaTexto{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 40px;
}

@media screen and (max-width:800px){
    header {
        flex-direction: column;
        padding-bottom: 15px;
        align-items: center;
    }

    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav a:active{
        background-color: #f6f126;
        color: #ee1c25;
    }

   #promo h1, #promo a {
        right: 50px;
        text-align: center;
        font-size: 6vw;
    }

    .formaPagamento {
        display: block;
    }

    .pagamento {
        margin-top: 20px;
    }

}

@media screen and (max-width:450px) {
    main {
        padding: 5px 25px 25px 25px;
    }

    #promo h1 {
        font-size: 8vw;
    }

    #promo {
        justify-content: center;
    }

    #promo a {
        border: 1px solid #f6f126;
        padding: 5px;
        font-size: 10vw;
        border-radius: 10%;
        background-color: #ee1c25;
    }

    .historia {
        font-size: 4vw;
    }

    .historiaTexto {
        font-size: 3.8vw;
        text-align: justify;
    }
}
